@import 'init';

// Branding header
//
// Markup: header.twig
//
// Style guide: components.header

.header,
%header {

  margin-top: .25em;

  @media (min-width: 945px) {
		//border: 2px solid green;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: space-between;

		img {
			margin-right: 5%;
		}

		p {
			padding: 0;
		}
	}
  //text-align: center;

  // Wrapping link for logo.
  &__logo {
    //display: block;
    //float: left;
    //margin: auto;
    padding: 0;
    overflow: auto;

    @include rtl() {
      float: right;
      margin: 0 0 0 10px;
    }
  }

  // Logo image.
  &__logo-image {
    display: block;
    width: 300px;
		max-width: 100%;
    margin: auto;

   /* @media (min-width: 1000px) {
      display: inline;
      border: 1px solid red;
    }*/

  }

  // Wrapper for website name and slogan.
  &__name-and-slogan {
    //float: left;
  }



  // The name of the website.
  &__site-name {
    margin: 0;
  }

  // The link around the name of the website.
  &__site-link {
    &:link,
    &:visited {
      color: color(text);
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  // The slogan (or tagline) of a website.
  &__site-slogan {
    //border: 1px solid red;
    margin: 0;
    font-style: italic;
    text-align: center;
  }

  // The secondary menu (login, etc.)
  &__secondary-menu {
    float: right;

    @include rtl() {
      float: left;
    }
  }

  // Wrapper for any blocks placed in the header region.
  &__region {
    // Clear the logo.
    clear: both;
  }
}
