@import 'init';

// Branding header
//
// Markup: header.twig
//
// Style guide: components.header

a.header__logo:link {
  text-decoration: none;
  color: black;
}

a.header__logo:visited {
  text-decoration: none;
  color: black;
}

a.header__logo:hover {
  text-decoration: none;
  color: black;
}

a.header__logo:active {
  text-decoration: none;
  color: black;
}

.header,
%header {

a {
  color: black;
}

  // Wrapping link for logo.
  &__logo {
    //display: block;
    //float: left;
    //margin: auto;
    padding: 0;
    overflow: auto;

    @include rtl() {
      float: right;
      margin: 0 0 0 10px;
    }
  }

  // Logo image.
  &__logo-image {
    display: block;
    width: 300px;
		max-width: 100%;
    margin: 0 auto 1em;

   /* @media (min-width: 1000px) {
      display: inline;
      border: 1px solid red;
    }*/

  }

  // Wrapper for website name and slogan.
  &__name-and-slogan {
    //float: left;
  }

  // The name of the website.
  &__site-name {
    margin: 0;
  }

  // The link around the name of the website.
 /* &__site-link {
    &:link,
    &:visited {
      color: color(text);
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }*/

  // The slogan (or tagline) of a website.
  &__site-slogan {
    //border: 1px solid red;
    margin: 0;
    font-style: italic;
    text-align: center;
    //font-family: Helvetica, sans-serif;
    font-size: 1.25em;
    margin-bottom: 1.5em;
  }

  // The secondary menu (login, etc.)
  &__secondary-menu {
    float: right;

    @include rtl() {
      float: left;
    }
  }

  // Wrapper for any blocks placed in the header region.
  &__region {
    // Clear the logo.
    clear: both;
  }

  @media (min-width: 851px) {
    margin-top: .25em;
		//border: 2px solid green;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: space-between;

		&__logo-image {
			margin: 0 1em .25em;
		}

		&__site-slogan {
			padding: 0;
			margin: 0;
		}
  }
}
