@font-face {
  font-family: OpenSans;
  src: url(../../../../../sites/default/files/fonts/open-sans/OpenSans-Regular.ttf);
}

.box {
  margin-bottom: 1.5rem;
  border: 5px solid #cccccc;
  padding: 1em;
}

.box__title {
  margin: 0;
}

.box:focus, .box:hover, .box.is-focus, .box--is-focus {
  border-color: #000;
}

.box--highlight {
  border-color: #0072b9;
}

html {
  height: 100%;
}

body {
  height: 100%;
  word-wrap: break-word;
}

main.layout-3col__left-content {
  padding-right: 2em;
}

article h2 a:link {
  text-decoration: none;
}

article h2 a:visited {
  text-decoration: none;
}

article h2 a:hover {
  text-decoration: underline;
}

article h2 a:active {
  text-decoration: underline;
}

.mm-page {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100%;
}

div#not-footer {
  -webkit-box-flex: 1;
          flex: 1 0 auto;
}

@media (min-width: 851px) {
  #block-missionstatement {
    max-width: 800px;
    margin: .5em auto 0;
  }
}

#block-views-block-content-recent-block-1-2, #block-views-block-latest-photos-block-1 {
  margin-top: 2em;
}

#block-views-block-content-recent-block-1-2 h2, #block-views-block-latest-photos-block-1 h2 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-style: italic;
  font-size: 1.17em;
  margin-bottom: .5em;
  font-family: OpenSans, Tahoma, Geneva, sans-serif;
}

.view-display-id-block_1 {
  box-shadow: 0 0 10px 0 gray inset;
  padding: 1em;
  width: 400px;
  max-width: 95%;
  height: 600px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}

.view-display-id-block_1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.view-display-id-block_1 ul .views-field-title {
  font-size: 1.1em;
  font-weight: bold;
  margin: .5em auto;
}

.view-display-id-block_1 ul .views-field-title a:link {
  text-decoration: none;
}

.view-display-id-block_1 ul .views-field-body {
  margin-bottom: 1em;
}

.view-display-id-block_1 ul .views-field-body p {
  margin: 0;
}

.view-display-id-block_1 ul li {
  margin: .25em;
  padding: 0;
}

#block-donationappeal {
  border: 1px solid black;
  text-align: center;
  background-color: #fafa9e;
  padding-bottom: .5em;
  margin-top: 1em;
}

#block-donationappeal img {
  vertical-align: middle;
  margin-left: .25em;
}

div.mc-field-group input[type=text], div.mc-field-group input[type=email] {
  font-size: 1em;
  padding: 4px;
  margin: .5em 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

div#mc_embed_signup {
  background-color: #e6e6e6;
  padding: .5em 1em 1em;
  margin: 1em 0;
  border-radius: 4px;
  max-width: 400px;
  display: block;
}

@media (min-width: 945px) {
  div#mc_embed_signup {
    display: inline-block;
  }
}

#block-footerorginfo-2 {
  background-color: #1e0033;
  color: #f3edf8;
  padding: 1em;
  margin: 4em 0 0;
}

@media (min-width: 768px) {
  #block-footerorginfo-2 div {
    width: 85%;
    margin: auto;
  }
}

.photos-album-header {
  margin-bottom: 1em;
}

article h2 {
  margin-bottom: .5em;
}

article footer {
  font-style: italic;
  margin-bottom: 1em;
  font-size: smaller;
}

#block-voices4earth-page-title h1 {
  margin-bottom: .5em;
}

/*# sourceMappingURL=box.css.map */
