@font-face {
  font-family: OpenSans;
  src: url(../../../../../sites/default/files/fonts/open-sans/OpenSans-Regular.ttf);
}

.clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
