@font-face {
  font-family: OpenSans;
  src: url(../../../../../sites/default/files/fonts/open-sans/OpenSans-Regular.ttf);
}

.hidden,
html.js .js-hidden,
html.js .element-hidden,
html.js .js-hide {
  display: none;
}
