@font-face {
  font-family: OpenSans;
  src: url(../../../../../sites/default/files/fonts/open-sans/OpenSans-Regular.ttf);
}

.highlight-mark,
.marker {
  color: #c00;
  background-color: transparent;
}
