@font-face {
  font-family: OpenSans;
  src: url(../../../../../sites/default/files/fonts/open-sans/OpenSans-Regular.ttf);
}

#block-contactblock, #block-rsvppaymentinfo {
  margin: 1em auto 0;
  padding: 1em;
  background-color: #1d1d1d;
  color: #e0daae;
}

@media (min-width: 851px) {
  #block-contactblock, #block-rsvppaymentinfo {
    max-width: 800px;
  }
}

#block-contactblock form {
  padding: 0 1em 1em;
  border-style: solid;
  border-color: #e0daae;
  border-width: 2px;
}

#block-contactblock form label {
  display: inline;
  font-weight: normal;
  color: #e0daae;
}

#block-contactblock form textarea {
  width: 25em;
}

#block-contactblock form input, #block-contactblock form textarea {
  border: none;
  background-color: #e0daae;
  color: black;
  padding: 4px;
}

#block-contactblock form input[type=text], #block-contactblock form input[type=email] {
  width: 15em;
}

#block-contactblock form input[type=number] {
  width: 3em;
}

#block-contactblock form input[type=submit] {
  padding: .5em;
}

#block-contactblock form input[type=submit]:hover {
  background-color: #c0b459;
}

#block-contactblock form input[type=submit]:active {
  background-color: #817831;
}

#block-rsvppaymentinfo div#payment-info {
  margin: .5em;
  padding: 1em;
  border-style: solid;
  border-color: #e0daae;
  border-width: 2px;
}
